<!DOCTYPE html> <html> <head>   <title>Spring Pharmacy</title>  
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
<%= csrf_meta_tags %> </head> 
<div id='bd'>
<body>  
<div id='header'>
  
  <!-- Header Image Displayes here -->  
  
  </div><div id='menu'>      
  <div id="navbar"> 
  <ul>
        <li><a href="/items">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/admin">AdminLogin</a></li>
        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete  %></li>
        <li><a href="/cart">View Cart</a></li>
      </ul>      
  </div>     
  </div>     
  <div id='container'>          
  <div id='content'>          
  <p class="notice">
    <%= flash[:notice] %></p> 
    
       <p class="alert"><%= alert %></p>  
    <%= yield %>  
    
    <% if user_signed_in? %>  
    
    <div>
      Signed in as... <%= current_user.email %> (<%= link_to 'Logout', destroy_user_session_path, :method => :delete  %>)
    </div>
    
    <% else %>   
    
   <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Login', new_user_session_path %> 
    
    <% end %>   
    
    
    </div>
    <div id='first-column'>             
    <div class="searchbox">
    		<h2 class="BoxHeaders">Search</h2>
    		<input type="text" name="search" /><input type="submit" value="Search" />
  	</div>               
    <div class="box">
        <h2 class="BoxHeaders1">Special Offers</h2>
        <img src="/assets/fishoil.jpg" alt="Special Offers" >
    </div>
    </div>         
    </div>         
    <div id='footer'>             
    <h6 class="footertext">&copy; 
    Online Spring Store &trade; 2015</h6>       
    </div> 
    </body> 
    </div>
    </html> 
  